<div id="gallery" ng-controller="GalleriaController as galleria">

    <div id="gallery-img" ng-style="{
           'background': 'url('+galleria.imgUrl+') fixed',
           'background-repeat': 'no-repeat',
           'background-position': 'top, center',
            '-webkit-background-size': 'cover',
            '-moz-background-size': 'cover',
            '-o-background-size': 'cover',
            'background-size': 'cover',
            '-webkit-filter': 'grayscale(0.2) sepia(0.5) blur(0.8px)'
           }">
    </div>

    <p id="welcome-txt">Segni, Disegni e Parole</p>

</div>
